body {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	background: #000000;
	z-index: 9999;
}
	.navbar {
		clear: both;
		padding: 0 20px;
		position: relative;
	}
	.navbar a {
		color: #999999;
		text-decoration: none;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
		.navbar .brand {
			float: left;
			display: block;
			padding: 12px 0 10px;
			font-family: "Metal Mania", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 32px;
			font-weight: 200;
		}
		.navbar .nav {
			float: left;
			list-style: none;
			display: block;
		}
		.navbar .nav li {
			float: left;
			line-height: 30px;
			margin: 0 10px 0 0;
		}
		.navbar .user_status {
			float: right;
			color: #999999;
			padding-top: 4px;
		}
		.user_status .path {
			font-size: 16px !important;
			font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.user_status .statistic {
			font-size: 14px;
			font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

#container {
	display: inline-block;
	clear: both;
	position: relative;
	margin-top: 75px;
	width: 100%;
}
	.sidebar {
		position: fixed;
		float: left;
		width: 250px;
		margin-left: 5px;
	}
		.sidebar .menu {
			width: 250px;
			height: 300px;
			border: none;
			padding: 10px 0 0 1px;
			background: #00a3a7;
		}
	.content {
		margin-left: 270px;
		padding: 10px 10px;
		background: #0066cc;
		overflow: auto;
		min-height: 700px;
	}

#footer {
	width: 100%;
	height: 50px;
	background: #1f3134;
	margin-top: 15px;
	line-height: 55px;
	font-size: 11px;
	text-align: center;
	color: #708286;
}
	#footer a {
		color: #B8C0C3;
	}

.workspace {
	font-size: 18px;
	color: #ffffff;
}
.duedate {
	font-weight: bold !important;
}
.duedate.done {
	font-style: italic;
}
.priority {
	width: 16px;
	height: 16px;
}
.priority.routine {
	width: 0px;
	height: 0px;
}
.priority.essential {
	background: url("images/essential.png");
}
.priority.vital {
	background: url("images/vital.png");
}
.priority.important {
	background: url("images/important.png");
}
.priority.urgent {
	background: url("images/urgent.png");
}

/* Override ZK default style */
div.z-tree {
	background: none !important;
	background-image: none !important;
	border: none !important;
}
div.z-tree-body {
	background: none !important;
}
tr.z-treerow-seld, tr.z-treerow-over {
	background: #00533f !important;
}
td.z-treecell {
	border: none !important;
}
div.z-treecell-cnt {
	color: #ffffff !important;
}